---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Profil | WANG Qian" description="Description personnelle de WANG Qian">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos de moi"
				tagline="Décourrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Démonstration d'un projet avec des collègues de Bootcamp"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
            Ancien enseignant pendant quatre ans, j'ai récemment fait le saut vers le développement web après avoir suivi un bootcamp chez Le Wagon. </p>

           <p>Passionné par les nouvelles technologies, je suis motivé par la création d'applications web intuitives et dynamiques. Mon expérience en enseignement m'a également doté de compétences en communication et en résolution de problèmes, ce qui me permet de travailler efficacement en équipe.</p>

            <p>Je suis prêt à relever de nouveaux défis et à continuer à apprendre et à évoluer en tant que développeur web. Je suis convaincu que ma combinaison unique d'expérience et de compétences fait de moi un atout précieux pour toute équipe de développement.</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p>2024 <a href="https://www.lewagon.com/fr" target="_blank">Le Wagon</a> Bac+4 (RNCP niveau 6) "Concepteur - développeur d'applications web"</p>
          <p>2019 <a href="https://www.univ-rennes2.fr/" target="_blank">Université Rennes 2</a> Bac+5"Master Didactique des Langues parcours Numérique et Ingénierie"</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>Langages : HTML, CSS, SCSS, Bootstrap, JavaScript, Ruby on Rails, SQL, PostgreSQL, JSON, XML, Astro</p>
          <p>Conaissances : Heroku, API, Hotjar, Figma, Cloudinary, Mapbox, Netlify</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
